@import "style/utils/includes.scss";

.header {
    display: grid;
    border-bottom: 1px solid $table-border-color;
    background-color: $table-bg-color;
    min-width: 100%;
}

.cell {
    display: inline-flex;
    align-items: center;
    padding: 8px 10px;
}
