@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "boxicons";
@import "./utils/reset.css";
@import "./utils/includes.scss";

body {
    font-family: Arial,sans-serif;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
}