@import "style/utils/includes.scss";

.table {
    border-radius: 4px;
    overflow-x: auto;
    box-shadow: 0 7px 14px 0 rgb(59 65 94 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    color: $text-primary;
}
